/* Estilo de todos os botões */
.btn-mvp {
    height: auto !important;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: .9rem;
    color: #EFEFEF;
    background-color: #FD4712;
    border-color: #FD4712;
} 

/* Estilos dos botões principais */
/* .btn-primario-mvp {
    border-color: #FD4712;
} */

/* Estilo dos botões secundários */
/* .btn-secundario-mvp {

} */

/* Hover */
.btn-mvp:hover, .btn-mvp a:hover, .btn-mvp:focus, .btn-mvp a:focus-within {
    box-shadow: none !important;  
    transition: 0.5s;
    background-color: transparent !important; 
    color: #FD4712 !important;
    border-color: #FD4712 !important;
    border-width: 2px;
}
