.esquecido {
    text-decoration: none;
    color: grey;
}

.cadastro {
    background-color: #28004F;
    color: white;
}

.caixas-de-insercao::placeholder {
    color:black;
}

.caixas-de-insercao {
    background-color: #EFEFEF;
    opacity: 0.8;
}

.caixas-de-insercao:focus {
    box-shadow: none;
    border-color: black;
}

.login {
    color: black;
}

.login::placeholder {
    color:black;
}

.selecao {
    color: white;
    background-color: #28004F;
}

.caixa-forma-pagamento {
    background-color: #28004F;
}

.forma-pagamento {
    background-color: #EFEFEF;
    opacity: 0.8;
    color:black;
    border-radius: 8px;
}

.radio-forma-pagamento {
    background-color: #28004F;  
}

.radio-forma-pagamento:checked {
    background-color: #FD4712;
}

.caixa-cadastro-cartao {
    background-color: #EFEFEF;
    opacity: 0.9;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid black;
}

.caixa-cadastro-cartao:focus {
    box-shadow: none;
    background-color: #EFEFEF;
    border-color: black;
}

.caixa-cadastro-cartao::placeholder {
    color: black;
}


