.card-produto-mvp {
    align-items: center;
    background-color: #766289;
    color: #EFEFEF;
    border-radius: 2%;
}

h3 {
    color: #EFEFEF;
}

.card-produto-mvp p {
    font-family: 'Chakra Petch', sans-serif;
}

.promocao-de-preco{
    font-size: .8rem;
    opacity: .7;
    text-decoration: line-through;
}

.preco {
    font-size: 1rem;
    font-weight: 900;
}

.card-linha {
    background-color: #28004F;
    width: 100%;
    border-width: .4vh;
}
