/* Container do card  */

.carousel-control-next, .carousel-control-prev {
    width: 10vw !important;
}

.carousel-item {
    transition-timing-function: linear !important;
    transition-delay: 0;
    transition-duration: 0s;
}

.card-produto-mvp {
    width: 14vw;
    height: 48vh;
    align-items: center;
    background-color: #766289;
    color: #EFEFEF;
    border-radius: 8px;
    box-shadow: 5px 4px 1px #FD4712;
}

.card-produto-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.img-produto-mvp {
    height: 17vh;
}

.favoritar-produto {
    z-index: 1;
    height: 3vh;
}

/* Paragráfo do card  */
.card-produto-mvp p {
    font-family: 'Chakra Petch', sans-serif;
}

/* Preço de promoção  */
.promocao-de-preco{
    font-size: .6rem;
    opacity: .7;
    text-decoration: line-through;
}

/* Preço de venda  */
.preco {
    font-size: .9rem;
    font-weight: 600;
}

/* Linha central do card  */
.card-linha {
    background-color: #28004f;
    width: 100%;
    opacity: 1 !important;
    border: 1px solid #28004f !important;
}


/* MEDIAS QUERIES  */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    h3 {
        font-size: .7rem;
    }
    .promocao-de-preco{
        font-size: .6rem;
    }
    
    .preco {
        font-size: .8rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h3 {
        font-size: .7rem;
    }
    .promocao-de-preco{
        font-size: .6rem;
    }
    
    .preco {
        font-size: .8rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    h3 {
        font-size: .8rem;
    }
    .promocao-de-preco{
        font-size: .7rem;
    }
    
    .preco {
        font-size: .9rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h3 {
        font-size: .8rem;
    }
    .promocao-de-preco{
        font-size: .7em;
    }
    
    .preco {
        font-size: .9rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h3 {
        font-size: .9rem;
    }
    .promocao-de-preco{
        font-size: .7rem;
    }
    
    .preco {
        font-size: .9rem;
    }
}
